@import "tailwindcss";
:root {
    --main-theme:#9c2528;
    --main-hover-theme:#7c2528;
}

button{
    @apply cursor-pointer;
}
.special-btn{
    @apply text-[var(--main-theme)] px-3 py-1 rounded text-xl;
}
.special-btn:hover{
    @apply font-semibold;
}
.swiper-pagination {
  position: relative !important; /* move outside */
  margin-top: 1rem; /* space below */
  text-align: center;
}
.swiper-wrapper{
    justify-content: center;
}